@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:ital,wght@0,400;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:ital,wght@0,400;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: lexend Deca, Big shoulders Display;
}
.container{
    height: 70vh;
    width: 100%;
    display: flex;
    margin: 5% 10%;
    max-width: 660px;
    
    
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border-radius: 5px;
    width: 100%;
    
}
.suvs{
    background-color:hsl(184, 100%, 22%);
    padding: 50px;
    border-radius: 5px;
    width: 100%;
   
}
.luxury{
    background-color:hsl(179, 100%, 13%);
    padding: 50px;
    border-radius: 5px;
    width: 100%;
  
}

/*styling for sedans*/

.content{
    margin-top: 50px;
    text-align: left;
    width: 170px;
}

.content h1{
   color: #fff; 
}
.content p{
    color: #fff;
    font-size: 15px;
    margin-top: 50px;
    line-height: 1.5;
}

.content button{
    margin-top: 60px;
    padding: 10px 20px;
    border-radius:15px ;
    border:1px solid hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    font-weight: bold;
}



