body{
    background-color: rgb(18, 18, 30);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.5rem;
    max-width: 400px;
    margin: 10% auto;
}

.grid>div:nth-of-type(1){
    background-color: red;
    grid-column: 1/4;
}

.grid>div:nth-of-type(3){
    grid-column: 1/3;
}

.grid>div:nth-of-type(4){
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    gap: 0.5rem;
    grid-column: 3/5;
}
